<p id="notice"><%= notice %></p>

<h1>閲覧</h1>

<p>
  <strong>物件名:</strong>
  <%= @house.name %>
</p>

<p>
  <strong>賃料:</strong>
  <%= @house.rent %><%="円"%>
</p>

<p>
  <strong>住所:</strong>
  <%= @house.adress %>
</p>

<p>
  <strong>築年数:</strong>
  <%= @house.age %><%="年"%>
</p>

<p>
  <strong>備考:</strong>
  <%= @house.content %>
</p>

<br>
<h3>最寄駅</h3>
<p>
  <strong>路線名:</strong>
  <%= @house.stations.first.route_name %>
</p>

<p>
  <strong>駅名:</strong>
  <%= @house.stations.first.station_name %>
</p>

<p>
  <strong>徒歩分数:</strong>
  <%= "#{@house.stations.first.walking_minutes}分" %>
</p>

<br>
<h3>最寄駅2</h3>
<p>
  <strong>路線名:</strong>
  <%= @house.stations.second.route_name %>
</p>

<p>
  <strong>駅名:</strong>
  <%= @house.stations.second.station_name %>
</p>

<p>
  <strong>徒歩分数:</strong>
  <%= "#{@house.stations.second.walking_minutes}分" %>
</p>

<br>
<h3>最寄駅2</h3>
<p>
  <strong>路線名:</strong>
  <%= @house.stations.third.route_name %>
</p>

<p>
  <strong>駅名:</strong>
  <%= @house.stations.third.station_name %>
</p>

<p>
  <strong>徒歩分数:</strong>
  <%= "#{@house.stations.third.walking_minutes}分" %>
</p>

<%= link_to '編集', edit_house_path(@house) %> |
<%= link_to '戻る', houses_path %>
