<p id="notice"><%= notice %></p>

<h1>閲覧</h1>

<p>
  <strong>物件名:</strong>
  <%= @house.name %>
</p>

<p>
  <strong>賃料:</strong>
  <%= @house.rent %><%="円"%>
</p>

<p>
  <strong>住所:</strong>
  <%= @house.adress %>
</p>

<p>
  <strong>築年数:</strong>
  <%= @house.age %><%="年"%>
</p>

<p>
  <strong>備考:</strong>
  <%= @house.content %>
</p>

<%= link_to '編集', edit_house_path(@house) %> |
<%= link_to '戻る', houses_path %>
